@model RswebProject.ViewModels.BookGenreViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}

<form asp-controller="Books" asp-action="Index" method="get">
    <p>
        <select asp-for="BookGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].PHouses)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @if (item.AuthorId != null)
                    {
                        <a asp-controller="Authors" asp-action="Details" asp-route-id="@item.AuthorId"> @Html.DisplayFor(modelItem => item.Author.FullName)</a>
                    }
                </td>
                <td>
                    @foreach (var phouse in item.PHouses)
                    {
                        <a asp-controller="PHouses" asp-action="Details" asp-route-id="@phouse.PHouseId">  @phouse.PHouse.FullName </a> <br />
                    }
                </td>
                <td>

                     @if (User.Identity.IsAuthenticated && User.IsInRole("Admin")) 
                    {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |

                     @if (User.Identity.IsAuthenticated && User.IsInRole("Admin")) 
                    {
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>